@import "./normalize";
@import "../components/weather/weather.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "../components/loader/loader.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter";
  text-shadow: -3px 1px 0px #0000002b;
}

.container {
  width: 1440px;
  margin: auto;
  display: flex;
}

.App {
  background: rgb(72, 53, 91);
  background: linear-gradient(
    61deg,
    rgba(72, 53, 91, 1) 0%,
    rgba(145, 190, 243, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
