.search {
  display: flex;
  align-items: center;
  margin-bottom: 77px;

  &__input {
    width: 222px;
    margin-left: 36px;

    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-shadow: -2px 2px 1px #0000001a;

    height: 40px;
    outline: none;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: #fff;
      font-size: 30px;
      font-weight: 300;
      text-shadow: -2px 2px 1px #0000001a;
    }
  }

  &__btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 20px;
    border: 1px solid #fff;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      138deg,
      rgba(255, 255, 255, 0.4) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__img {
    width: 60px;
    height: 60px;
    margin-left: 146px;
    background-image: url(../../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 17px;
  }
}
